body {
  background-image: url('/assets/background.gif');
  background-size: 150%;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
  
.button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
  display: flex;
}

.button.taurus {
  background-image: url('/pages/assets/taurus.ico');
  margin: 2em;
}

.button.leo {
  background-image: url('/pages/assets/leo.ico');
  margin: 2em;
}

.button.aquilae {
  background-image: url('/pages/assets/aquilae.ico');
  margin: 2em;
}

.button.vir {
  background-image: url('/pages/assets/vir.ico');
  margin: 2em;
}

.fade-in {
    animation: fade-in 0.5s ease-in;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



@media (max-width: 1024px) {
  .button {
    width: 240px;
    height: 240px;
  }
body {
    background-size: 200%;
  }
} 
  
@media (max-width: 650px) {
  .button {
    width: 160px;
    height: 160px;
  }
  body {
      background-size: 280%;
  }
}